{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="online_reservation">
        <div class="b_room">
            <div class="booking_room">
                <div class="reservation">
                    <form class="custom-form" action='/search' method="GET">
                    <ul>
                        <li class="span1_of_1 left">
                            <h5>Arrival</h5>
                            <div class="book_date">
                                <div>
                                    <input name="checkin" type="text" value="2/08/2013" class="date" id="datepicker">
                                </div>>
                            </div>
                        </li>
                        <li class="span1_of_1 left">
                            <h5>Depature</h5>
                            <div class="book_date">
                                <div>
                                    <input name="checkout" type="text" value="22/08/2013" class="date" id="datepicker1">
                                </div>
                            </div>
                        </li>
                        <li class="span1_of_1">
                            <h5>Room type</h5>

                            <div class="section_room">
                                <select name="category" class="frm-field required" id="country">
                                    {% for cat1 in category %}
                                    <option value={{ cat1.id }}>{{ cat1.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </li>
                        <li class="span1_of_3">
                            <div class="date_btn">
                                <div>
                                    <input name="submit" type="submit" value="Check Availability">
                                </div>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="rooms text-center">
        <div class="container">
            <h3>Our Room Types</h3>
            {% for cat in category %}

            <div class="room-grids">

                <div class="col-md-4 room-sec">
                    <img src="{{ cat.image.url }}" alt>
                    <h4>{{ cat.name }}</h4>
                    <p>{{ cat.description }}</p>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content%}