{% extends "base.html" %}
{% load static %}
{% block content %}
{% for details in object_list %}

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    {{ details.category__name }}
  </a>
  <a href="#" class="list-group-item list-group-item-action"> Room Number: {{ details.room_number }}
  </a>
  <a href="#" class="list-group-item list-group-item-action"> {{ details.category__description }}
  </a>
  <a href="#" class="list-group-item list-group-item-action"> No of beds: {{ details.category__number_of_beds}}
  </a>
  <a href="#" class="list-group-item list-group-item-action"> Price: {{ details.category__price}}
  </a>


</div>
<div class="form-group">
  <button class="btn book-btn btn-outline-info" data-room-number="{{ details.room_number }}" data-room-price="{{ details.category__price }}" data-room-category="{{ details.category__name }}"type="submit">Book</button>
</div>
  <script type="text/javascript">
     	$('.book-btn').click(

     		function() {
          var room_number = $(this).attr('data-room-number');
          var room_price = $(this).attr('data-room-price');
          var room_category = $(this).attr('data-room-category');
          alert('No payment module integrated,However '+room_category+' room number, ' +room_number+ ' was Successfully booked');

     			// $.post( "/book/", { room: room_number} );
          var url = '/book/';
          url += "?room_number="+room_number;
          // url += "&room_price=" + room_price;
          // url += "&room_category=" + room_category;
          // document.location.replace(url)
          document.location.replace(url);
     		}
     	);
     	
     </script>

{% endfor %}
{% endblock content%}